################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myenv
/unsloth_env
/.vscode
/__pycache__
*.pyc
/nb/unsloth_compiled_cache
